@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;900&family=Roboto:wght@400;500;700&display=swap');

@import url(/components/reset.css);
@import url(/components/typography.css);
@import url(/components/margin.css);
@import url(/components/utilities.css);

@import url(/components/avatar.css);
@import url(/components/alert.css);


:root{
    --primary-colour:#E26C6D;
    --secondary-colour:#798897;
    --tertiary-colour:#FBF7FF;
    --quaternary-colour:#FFFADE;

    --success-text: #39C16C;
    --success-background: #ddefe2;

    --error-text: #f30c0c;
    --error-background: #ffbaba;

    --warning-text: #ecb650;
    --warning-background: #f8edd8;

    --info-text: #6b4de4;
    --info-background: #ded8f8;
}

html{
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}