@import url(prism.css);

.code-syntax {    
    font-size: 1.4rem;
    margin: 2rem 4rem;
}

code[class*=language-], pre[class*=language-] {
    text-shadow: none;
    font-family: 'Montserrat';
} 

.code-toolbar{
    margin: 1rem 0;    
}

.code-toolbar pre {
    background: var(--code-syntax-bg);
    border-radius: 1rem;
}

.code-toolbar .language-css,.code-toolbar .language-html {
    color: var(--CODE-COMMENT);
}

.code-toolbar .language-css .token.atrule {
    color: var(--CODE-ORANGE);
}
  
.code-toolbar .language-css .token.function {
    color: var(--CODE-BLUE);
}
  
.code-toolbar .language-css .token.url {
    color: var(--CODE-GREEN);
}
  
.code-toolbar .language-markup {
    color: var(--code-content);
}
  
.code-toolbar .token.tag {
    color: var(--code-tag);
}

.code-toolbar .token.attr-name {
    color: var(--code-attr-name);
}
  
.code-toolbar .token.attr-value {
    color:var(--code-attr-value);
}

.code-syntax .code-toolbar .toolbar {
    opacity: 0.8; 
}
  
.token.punctuation {
    color: var(--code-tag);  
}

.toolbar .toolbar-item .copy-to-clipboard-button[data-copy-state="copy"] {
    padding: 2px;
    margin-right: 10px;
    width: 30px;
    height: 30px;
    background:  var(--copy-bg)  url("data:image/svg+xml,%3C%3Fxml version='1.0' %3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg enable-background='new 0 0 48 48' height='24px' id='Layer_1' version='1.1' viewBox='0 0 48 48' width='24px' xml:space='preserve' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cpath clip-rule='evenodd' d='M37,47H11c-2.209,0-4-1.791-4-4V8c0-2.209,1.791-4,4-4h3l0,0c0.553,0,1,0.448,1,1 s-0.447,1-1,1l0,0h-3C9.896,6,9,6.896,9,8v35c0,1.104,0.896,2,2,2h26c1.104,0,2-0.896,2-2V8c0-1.104-0.896-2-2-2h-3l0,0 c-0.553,0-1-0.448-1-1s0.447-1,1-1c0,0,0,0,0.001,0H37c2.209,0,4,1.791,4,4v35C41,45.209,39.209,47,37,47z M35,9 c0,0.552-0.447,1-1,1H14c-0.553,0-1-0.448-1-1s0.447-1,1-1c0,0,1.125-0.125,2-1l2-2c0,0,0.781-1,2-1h1c0-1.657,1.344-3,3-3 c1.657,0,3,1.343,3,3h1c1.312,0,2,1,2,1l2,2c0.875,0.875,2,1,2,1C34.553,8,35,8.448,35,9z M24,3c-0.553,0-1,0.448-1,1h2 C25,3.448,24.553,3,24,3z M29.363,7c0,0-0.679-1-1.817-1h-7.091c-1.14,0-1.818,1-1.818,1l-0.909,1h12.545L29.363,7z' fill-rule='evenodd'/%3E%3C/svg%3E")no-repeat center;
}

.toolbar .toolbar-item .copy-to-clipboard-button[data-copy-state="copy-success"] {
    padding: 2px;
    margin-right: 10px;
    width: 30px;
    height: 30px;
    background: var(--copy-success-bg) url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px'%0Awidth='24' height='24'%0AviewBox='0 0 64 64'%0Astyle=' fill:%23000000;'%3E%3Cpath fill='%23c5e4fa' d='M31 5A28 28 0 1 0 31 61A28 28 0 1 0 31 5Z'%3E%3C/path%3E%3Cpath fill='%23e3f2ff' d='M12.71 54.29a28 28 0 0 0 9.18 5.82L56 26V19.57a28.1 28.1 0 0 0-3.71-4.86zM10.76 52.24L50 13H44L8.22 48.78A28.08 28.08 0 0 0 10.76 52.24zM7.79 45.21L41 12l-3-2L6.36 41.64A27.81 27.81 0 0 0 7.79 45.21z'%3E%3C/path%3E%3Cpath fill='%23f9e3ae' d='M31,5A28,28,0,1,0,59,33,28,28,0,0,0,31,5Zm0,50A22,22,0,1,1,46.17,17.07l.68.67q.39.4.75.82A22,22,0,0,1,31,55Z'%3E%3C/path%3E%3Cpath fill='%23f6d397' d='M31,55A22,22,0,0,1,9,33H7.34a4,4,0,0,0-3.95,4.71,28,28,0,0,0,55.21,0A4,4,0,0,0,54.66,33H53A22,22,0,0,1,31,55Z'%3E%3C/path%3E%3Cpath fill='%2372caaf' d='M58 9L31 36 20 25 16 29 27 40 31 44 35 40 62 13 58 9z'%3E%3C/path%3E%3Cpath fill='%2397e0bb' d='M31,39.08a2.49,2.49,0,0,1-1.77-.73L17.94,27.06l2.12-2.12L31,35.88,57.94,8.94l2.12,2.12L32.77,38.35A2.49,2.49,0,0,1,31,39.08Z'%3E%3C/path%3E%3Cpath fill='%238d6c9f' d='M38.35,13.32a21.2,21.2,0,0,1,2.1.92,1,1,0,1,0,.9-1.79,22.82,22.82,0,0,0-2.3-1,1,1,0,1,0-.7,1.87Z'%3E%3C/path%3E%3Cpath fill='%238d6c9f' d='M62.71,12.29l-4-4a1,1,0,0,0-1.41,0l-5.07,5.07A1,1,0,0,0,52,13,28.74,28.74,0,0,0,31,4,29,29,0,1,0,56.74,19.67l6-6A1,1,0,0,0,62.71,12.29ZM58,33A27,27,0,1,1,31,6a26.76,26.76,0,0,1,19.57,8.39,1,1,0,0,0,.39.24l-3,3a1,1,0,0,0-.2-.33l-.52-.53a23.35,23.35,0,0,0-2.09-1.86,1,1,0,1,0-1.23,1.57,21.35,21.35,0,0,1,1.91,1.7l.47.49a1,1,0,0,0,.38.25L31,34.59,20.71,24.29a1,1,0,0,0-1.41,0l-4,4a1,1,0,0,0,0,1.41l15,15a1,1,0,0,0,1.41,0l19-19,.19.54q.15.45.28.9c0,.13.08.26.11.39q.18.68.31,1.37l0,.23a21.24,21.24,0,0,1-1.86,13.2c-.1.21-.21.41-.31.62s-.34.62-.52.92-.34.54-.52.81-.3.47-.47.7q-.52.71-1.09,1.37l-.43.46a20.94,20.94,0,0,1-30.52.35c-.25-.26-.49-.53-.72-.8s-.48-.55-.7-.83-.33-.44-.49-.67-.51-.7-.74-1.07c-.1-.17-.2-.34-.3-.5-.25-.43-.5-.86-.72-1.3-.07-.14-.13-.28-.19-.41-.22-.47-.44-.95-.62-1.43-.06-.16-.11-.33-.17-.49-.16-.46-.32-.92-.45-1.38-.07-.25-.12-.51-.19-.76s-.18-.75-.26-1.14-.12-.76-.16-1.14-.08-.53-.1-.8c0-.48-.06-1-.07-1.44,0-.18,0-.36,0-.53,0-.52,0-1,.07-1.55,0-.15,0-.31,0-.46,0-.49.13-1,.21-1.47,0-.19.06-.39.1-.58.09-.42.2-.84.31-1.26.07-.27.14-.53.22-.8s.23-.69.36-1,.25-.67.39-1,.31-.69.48-1,.22-.45.34-.67c.22-.42.47-.82.72-1.23.09-.14.17-.29.26-.42q.53-.8,1.14-1.56l.31-.36c.32-.38.66-.76,1-1.12s.46-.46.7-.68l.31-.29q.54-.49,1.12-.94l.4-.29.8-.57.55-.36.7-.41q.62-.35,1.25-.66l.46-.23.9-.38.38-.15c.33-.12.66-.24,1-.35h0a21.15,21.15,0,0,1,2.34-.61h0c.37-.07.74-.14,1.12-.19l.24,0A21,21,0,0,1,31.48,12l.64,0,.79.05,1.08.13.36,0a1,1,0,0,0,1.15-.83h0a1,1,0,0,0-.83-1.15l-.37,0c-.4-.06-.8-.11-1.21-.14L32.25,10l-.77,0a22.79,22.79,0,0,0-3.35.18l-.44.06-1.09.18-.33.07q-1,.21-2,.52l-.43.13-.9.32-.66.26-.77.33c-.45.2-.89.42-1.32.65l-.43.24q-.53.29-1,.62l-.45.29q-.56.37-1.1.78l-.25.18q-.67.52-1.31,1.09l-.2.19c-.22.21-.45.41-.67.63l-.22.25c-.35.36-.69.75-1,1.14-.14.16-.28.31-.41.47-.43.54-.85,1.1-1.23,1.68-.11.17-.21.35-.32.53-.26.42-.52.85-.76,1.29-.13.25-.25.5-.38.75s-.26.49-.38.75-.17.41-.25.61l-.1.24q-.39,1-.69,2l0,.06a22.83,22.83,0,0,0-.83,8.72v0q.1,1,.3,2.05l.06.28q.18.89.43,1.77l.15.51c.16.51.34,1,.53,1.52.08.21.17.43.26.64q.3.7.64,1.38l.33.63q.38.7.81,1.37l.33.51q.5.75,1.07,1.45l.25.31q.66.8,1.39,1.54l.08.08h0A23,23,0,0,0,31,56a23.13,23.13,0,0,0,16.29-6.73h0l.23-.24c.32-.33.63-.66.94-1l.2-.24c.31-.37.61-.75.9-1.14l.09-.14a22.85,22.85,0,0,0,4-17.69l0-.26c-.1-.5-.21-1-.34-1.5,0-.14-.08-.28-.12-.42-.1-.33-.2-.67-.31-1s-.15-.43-.23-.64-.21-.53-.32-.8l3-3A27.06,27.06,0,0,1,58,33ZM31,42.59,17.41,29,20,26.41,30.29,36.71a1,1,0,0,0,1.41,0L58,10.41,60.59,13Z'%3E%3C/path%3E%3C/svg%3E")  no-repeat center;
} 

.toolbar .toolbar-item .copy-to-clipboard-button[data-copy-state="copy-error"] {
    padding: 2px;
    margin-right: 10px;
    width: 30px;
    height: 30px;
    background: var(--copy-error-bg) url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px'%0Awidth='30' height='30'%0AviewBox='0 0 100 100'%0Astyle=' fill:%23fa314a;'%3E%3Cpath fill='%23f37e98' d='M50 15A35 35 0 1 0 50 85A35 35 0 1 0 50 15Z'%3E%3C/path%3E%3Cpath fill='%23fdfcef' d='M52.121,50l10.939-10.939c0.586-0.585,0.586-1.536,0-2.121C62.768,36.646,62.384,36.5,62,36.5 s-0.768,0.146-1.061,0.439L50,47.879L39.061,36.939C38.768,36.646,38.384,36.5,38,36.5s-0.768,0.146-1.061,0.439 c-0.586,0.585-0.586,1.536,0,2.121L47.879,50L36.939,60.939c-0.586,0.585-0.586,1.536,0,2.121C37.232,63.354,37.616,63.5,38,63.5 s0.768-0.146,1.061-0.439L50,52.121l10.939,10.939C61.232,63.354,61.616,63.5,62,63.5s0.768-0.146,1.061-0.439 c0.586-0.585,0.586-1.536,0-2.121L52.121,50z'%3E%3C/path%3E%3Cg%3E%3Cpath fill='%231f212b' d='M50,86c-19.851,0-36-16.149-36-36s16.149-36,36-36s36,16.149,36,36S69.851,86,50,86z M50,16 c-18.748,0-34,15.252-34,34s15.252,34,34,34s34-15.252,34-34S68.748,16,50,16z'%3E%3C/path%3E%3Cpath fill='%231f212b' d='M65.5 24.227c-.087 0-.175-.022-.255-.07-.638-.377-1.299-.735-1.967-1.065-.247-.123-.349-.422-.227-.67.123-.249.425-.347.67-.227.689.341 1.374.711 2.033 1.102.237.141.316.447.176.685C65.837 24.139 65.671 24.227 65.5 24.227zM68.5 26.25c-.106 0-.213-.034-.304-.103-.322-.247-.65-.486-.983-.72-.226-.159-.281-.47-.122-.696.158-.228.47-.28.696-.123.345.241.683.49 1.017.745.22.167.261.481.094.701C68.799 26.182 68.65 26.25 68.5 26.25z'%3E%3C/path%3E%3Cpath fill='%231f212b' d='M50,81c-17.094,0-31-13.907-31-31s13.906-31,31-31c3.668,0,7.259,0.635,10.672,1.886 c0.26,0.095,0.393,0.382,0.298,0.642s-0.383,0.393-0.642,0.297C57.025,20.614,53.551,20,50,20c-16.542,0-30,13.458-30,30 s13.458,30,30,30s30-13.458,30-30c0-8.439-3.585-16.535-9.836-22.213c-0.205-0.186-0.22-0.502-0.034-0.707 c0.187-0.204,0.503-0.219,0.706-0.034C77.296,32.914,81,41.28,81,50C81,67.093,67.094,81,50,81z'%3E%3C/path%3E%3Cpath fill='%231f212b' d='M52.828,50l10.586-10.586C63.792,39.037,64,38.534,64,38s-0.208-1.037-0.586-1.414 C63.036,36.208,62.534,36,62,36s-1.036,0.208-1.414,0.586L50,47.172L39.414,36.586C39.036,36.208,38.534,36,38,36 s-1.036,0.208-1.414,0.586C36.208,36.963,36,37.466,36,38s0.208,1.037,0.586,1.414L47.172,50L36.586,60.586 C36.208,60.963,36,61.466,36,62s0.208,1.037,0.586,1.414C36.964,63.792,37.466,64,38,64s1.036-0.208,1.414-0.586L50,52.828 l10.586,10.586C60.964,63.792,61.466,64,62,64s1.036-0.208,1.414-0.586C63.792,63.037,64,62.534,64,62s-0.208-1.037-0.586-1.414 L52.828,50z M62.707,62.707c-0.378,0.378-1.036,0.378-1.414,0L50,51.414L38.707,62.707c-0.378,0.378-1.036,0.378-1.414,0 C37.104,62.518,37,62.267,37,62s0.104-0.518,0.293-0.707L48.586,50L37.293,38.707C37.104,38.518,37,38.267,37,38 s0.104-0.518,0.293-0.707c0.378-0.378,1.036-0.378,1.414,0L50,48.586l11.293-11.293c0.378-0.378,1.036-0.378,1.414,0 C62.896,37.482,63,37.733,63,38s-0.104,0.518-0.293,0.707L51.414,50l11.293,11.293C62.896,61.482,63,61.733,63,62 S62.896,62.518,62.707,62.707z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E") no-repeat center;
}
  
.toolbar .toolbar-item .copy-to-clipboard-button:hover {
    cursor: pointer;
}

