@import url(/components/component.css);
@import url(prism-custom.css);
@import url(colour-scheme.css);
@import url(scrollbar.css);

:root{
    --link-hover: #f5efef8a;
    --link-text-color: #000000de;
    --link-active: #d6d3ed7a;

    --PRIMARY-P5: #000063;
  --PRIMARY-P4: #00007c;
  --PRIMARY-P3: #150096;
  --PRIMARY-P2: #2e13af;
  --PRIMARY-P1: #482dc9;
  --PRIMARY: #6146e2;
  --PRIMARY-M1: #7b60fc;
  --PRIMARY-M2: #9479ff;
  /* --primary-colour: #ae93ff; */
  --PRIMARY-M4: #c7acff;
  --PRIMARY-M5: #e0c5ff;

  --PRIMARY-BG: #f6edff;
  --BG: #ffffff;

  --VARIANT-1BG: #fff3e8;
  --VARIANT-1M1: #ffdacf;
  --VARIANT-1: #f7c0b5;
  --VARIANT-1P1: #f4afa1;
  --VARIANT-1-TXT-BG: #f45b19;

  --VARIANT-2BG: #e8ffff;
--copy-success-bg: #cffcf6;
  --VARIANT-2: #b5e2dc;
  --VARIANT-2P1: #a6dcd5;
  --VARIANT-2-TXT-BG: #1a8d1a;

  --VARIANT-3BG: #ffffdf;
  --VARIANT-3M1: #fff4ac;
  --VARIANT-3: #f4da92;
--copy-bg: #f2d380;
  --VARIANT-3-TXT-BG: #ed9f3a;

  --WHITE: #ffffff;
  --WHITE-C: #ffffffcc;
  --WHITE-A: #ffffffaa;

  --SHADE1: #f7f5f5;
  --SHADE2: #f0f0f0;
  --SHADE3: #e0e0e0;
  --SHADE4: #d0d0d0;

  --BLACK: #000000;
  --BLACK-C: #000000cc;
  --BLACK-A: #000000aa;
  --BLACK-BG: #232128;

  --copy-error-bg: #f088a3;

  --CARBON: #2d2b55;

  --CODE-ORANGE: #ff9d00;
  --CODE-BLUE: #9effff;
  --CODE-GREEN: #a5ff90;
  --CODE-COMMENT: #b362ff;

  --INPUT-W: red;
  --INPUT-R: green;

  --code-syntax-bg:#282c34; 
  --code-content:#dde8fc;
  --code-tag:#e06c75;
  --code-attr-name:#d19a66;
  --code-attr-value:#98c379;

  --scrollbar:#888;
  --scrollbar-hover:#555;
}

.documentation{
    max-height: 100vh;
    max-width:100vw;
    scrollbar-gutter: stable both-edges;
}

.wrapper{
    display: grid;
    grid-template-columns: 20rem 1fr;
    grid-template-areas:  
    "header header header header"
    "aside main main main"
    "aside main main main"
    "aside main main main"
    "aside main main main"
    "aside main main main"; 
}

.header{
    grid-area: header;
    height: 6rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 0.8rem;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
}

.header-nav {
    margin-left: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
  
.header-nav li {
    display: inline-block;
}

.text-link {
    color:var(--black);
    text-decoration: none;
    margin: 0.8rem;
}  

.account-links {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 8rem;
}

.header-active{
    border-bottom: 2px solid var(--primary-colour);
}

.maincontent{
    grid-area: main;
}

#avatarcomponent,#alertcomponent,
#badgecomponent,#primarybuttons,
#linkbutton,#iconbutton,
#floatingbutton,#cardcomponent{
    padding: 2rem 6rem 1rem;
}

.sidebar{
    grid-area: aside;
    display: flex;
    flex-direction: column;
    padding: 1.6rem;
    box-shadow: 0 0.2rem 0.5rem 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
    position: sticky;
    top: 0;
    height: 100vh;
    overflow-y: auto;
}

.nav-active{
    background-color: var(--link-active);
    border-radius: 1rem;
    margin: 3px 0;
}

.listItem{
    padding: 1rem 1.2rem;
    list-style: none;
}

.listValue{
    text-decoration: none;
    color: var(--link-text-color);
}

.listItem:hover{
    background-color: var(--link-hover);
    border-left: 4px solid var(--primary-colour);
    transition: all ease .3s;
    border-radius: 0.9rem;
}

.listMenuItem{
    padding: 0.5rem 1.5rem;    
    list-style: none;
}

.listMenuValue{
    font-size: 1.5rem;
    letter-spacing: .0071428571em;
    text-decoration: none;
    color: var(--link-text-color);
}

.listMenuItem:hover{
    background-color: rgba(170, 161, 161, 0.54);
    transition: all .3s linear;
    border-radius: 0.9rem;
}

.menu ul,.menu input,.menu .closer,.menu input:checked~.opener {
    display: none;
}

.menu input:checked~ul,.menu input:checked~.closer {
    display: inline-block;
}

.tabs{
    margin: 2rem 0;
    border: 0.1rem solid var(--black); 
    border-radius: 0.5rem;
}

[role="tablist"]{
    display: flex;
    margin: 0;
}

.tab-header{
    letter-spacing: .071428571em;
    text-transform: uppercase;
    border: none;
    background: transparent;
    min-height: 4rem;
    flex-grow: 1;  
    border-bottom: 0.01rem solid var(--btn-link);   
}

[aria-selected="true"]{
    background: rgb(0 0 0 / 5%);
    color: var(--info-text);
    border-bottom: 0.2rem solid var(--black);
}

.container{
    display: flex;
    justify-content: space-evenly;
    padding: 1rem 0;
    align-items: center;
}

.container-alert{
    display: flex;
    flex-direction: column;
    height: 40rem;
    justify-content: space-around;
    align-items: center;
}

.container-input{
    display: flex;
    flex-direction: column;
    padding: 0px 300px;
}

.img-view{
    border: 0.1rem solid black;
}
