.m0{
    margin: 0;
}

.m1{
    margin: 0.1rem;
}

.m2{
    margin: 0.2rem;
}

.m3{
    margin: 0.3rem;
}

.m4{
    margin: 0.4rem;
}

.m5{
    margin: 0.5rem;
}

.m6{
    margin: 0.6rem;
}

.m7{
    margin: 0.7rem;
}

.m8{
    margin: 0.8rem;
}

.m9{
    margin: 0.9rem;
}

.m10{
    margin: 1rem;
}

.m20{
    margin: 2rem;
}

.m30{
    margin: 3rem;
}

.m40{
    margin: 4rem;
}

.m50{
    margin: 5rem;
}

.m60{
    margin: 6rem;
}

.m70{
    margin: 7rem;
}

.m80{
    margin: 8rem;
}

.m90{
    margin: 9rem;
}

.m100{
    margin: 10rem;
}