.m0{
    margin: 0;
}

.m1{
    margin: 0.1rem;
}

.m2{
    margin: 0.2rem;
}

.m3{
    margin: 0.3rem;
}

.m4{
    margin: 0.4rem;
}

.m5{
    margin: 0.5rem;
}

.m6{
    margin: 0.6rem;
}

.m7{
    margin: 0.7rem;
}

.m8{
    margin: 0.8rem;
}

.m9{
    margin: 0.9rem;
}

.m10{
    margin: 1rem;
}

.m20{
    margin: 2rem;
}

.m30{
    margin: 3rem;
}

.m40{
    margin: 4rem;
}

.m50{
    margin: 5rem;
}

.m60{
    margin: 6rem;
}

.m70{
    margin: 7rem;
}

.m80{
    margin: 8rem;
}

.m90{
    margin: 9rem;
}

.m100{
    margin: 10rem;
}

/* Margin top */
.m-t0{
    margin-top: 0;
}

.m-t1{
    margin-top: 0.1rem;
}

.m-t2{
    margin-top: 0.2rem;
}

.m-t3{
    margin-top: 0.3rem;
}

.m-t4{
    margin-top: 0.4rem;
}

.m-t5{
    margin-top: 0.5rem;
}

.m-t6{
    margin-top: 0.6rem;
}

.m-t7{
    margin-top: 0.7rem;
}

.m-t8{
    margin-top: 0.8rem;
}

.m-t9{
    margin-top: 0.9rem;
}

.m-t10{
    margin-top: 1rem;
}

.m-t20{
    margin-top: 2rem;
}

.m-t30{
    margin-top: 3rem;
}

.m-t40{
    margin-top: 4rem;
}

.m-t50{
    margin-top: 5rem;
}

.m-t60{
    margin-top: 6rem;
}

.m-t70{
    margin-top: 7rem;
}

.m-t80{
    margin-top: 8rem;
}

.m-t90{
    margin-top: 9rem;
}

.m-t100{
    margin-top: 10rem;
}