.snackbar{
    width: fit-content;
    max-width: 60rem;
    display: flex;    
    align-items: center;
    justify-content: center;  
    box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 6px 10px 0 rgb(0 0 0 / 14%), 0 1px 18px 0 rgb(0 0 0 / 12%);
    border-radius: 4px;
}

.snackbar-text{  
    padding: 1.4rem 1.6rem;
    font-size: 1.4rem;
    line-height: 2rem;
    letter-spacing: .017px;
}

.snackbar-actions{
    display: flex;
    margin-right: 8px;
}
