.heading1{
    font-size: 4.8rem;
    line-height: 6.4rem;
}

.heading2{
    font-size: 3.2rem;
    line-height: 4.0rem;
}

.heading3{
    font-size: 2.4rem;
    line-height: 3.2rem;
}

.heading4{
    font-size: 1.6rem;
    line-height: 2.4rem;
}

.heading5{
    font-size: 8px;
    line-height: 1.6rem;
}

.text1{
    font-size: 4.8rem;
    line-height: 6.4rem;
}

.text2{
    font-size: 3.2rem;
    line-height: 4.0rem;
}

.text3{
    font-size: 2.4rem;
    line-height: 3.2rem;
}

.text4{
    font-size: 1.6rem;
    line-height: 2.4rem;
}

.text5{
    font-size: 8px;
    line-height: 1.6rem;
}

.thin{
    font-weight: 100;
}

.extra-light{
    font-weight: 200;
}

.light{
    font-weight: 300;
}

.regular{
    font-weight: 400;
}

.medium{
    font-weight: 500;
}

.semi-bold{
    font-weight: 600;
}

.bold{
    font-weight: 700;
}

.black{
    font-weight: 900;
}

.ls{
    letter-spacing: .0071428571em;
}

.text-left{
    text-align: left;
}

.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}

.text-lowercase{
    text-transform: lowercase;
}

.text-uppercase{
    text-transform: uppercase;
}

.text-capital{
    text-transform: capitalize;
}

.td{
    text-decoration: none;
}

.line-underline{
    text-decoration-line: underline;
}

.line-strike{
    text-decoration-line: line-through;
}

.line-overline{
    text-decoration-line: overline;
}

.line-solid{
    text-decoration-style: solid;
}

.line-double{
    text-decoration-style: double;
}

.line-dashed{
    text-decoration-style: dashed;
}

.line-dotted{
    text-decoration-style: dotted;
}

.line-wavy{
    text-decoration-style: wavy;
}
