.cp{
    cursor: pointer;
}

.cna{
    cursor: not-allowed;
}

.display-block{
    display: block;
}

.display-inlineblock{
    display: inline-block;
}

.border-basic{
    border: 1px solid var(--black);
}