.cp{
    cursor: pointer;
}

.cna{
    cursor: not-allowed;
}

.display-none{
    display: none;
}

.display-block{
    display: block;
}

.display-inlineblock{
    display: inline-block;
}

.border-basic{
    border: 1px solid var(--black);
}

.z0{
    z-index: 0;
}